<div class="centered-img">
	<a href="/">
		<img src="/static/images/Logo.png" class="img-rounded logo">
	</a>
</div>

<div class="row">

	<div class="col-md-3 profile-pic col-attrib full-height">
		{{#if profile_pic}}
			<img src="{{profile_pic}}" class="img-rounded">
		{{else}}
			<img src="/static/images/profileDefault.jpg" class="img-rounded">
		{{/if}}
		<h2 class="remove-margin">
			<a href="#settings">{{user}}'s profile</a>
		</h2> 

		<div class="row">
 			<div class="col-md-6">
 				<div class="box" id="win">
 					<p>Wins</p>
 					{{#if userinfo.games_won}}
 						<h1>{{userinfo.games_won}}</h1>
			 		{{else}}
			 			<h1>0</h1>
 					{{/if}}
 				</div>
 			</div>

 			<div class="col-md-6">
 				<div class="box" id="loss">
 					<p>Losses</p>
 					{{#if userinfo.games_lost}}
 						<h1>{{userinfo.games_lost}}</h1>
			 		{{else}}
			 			<h1>0</h1>
 					{{/if}}
 				</div>
 			</div> 
		</div>  {{!-- END OF LEFT SIDE BAR --}}
	</div> 

 	<div class="col-md-8 col-md-push-1 col-attrib full-height"> 			

 		<h2 class="left-align">Created Maps</h2>
 		{{#unless maps}}
 			<h3>You have no maps! Create a map now by clicking <a href="/web/#map-editor">here</a></h3>
 		{{/unless}}
 		<table class="left-align">
 			{{#each maps}}
 				{{#with attributes}}
 					<tr><td>{{title}}</td><td><a href="#">edit</a></td><td><a href="#">delete</td></tr>
 				{{/with}}
 			{{/each}}
 		</table>

 	</div>

</div>